.design1{
    background-color: rgb(163, 106, 218);
    height: 100vh;
    width:100%;
    
    padding-left:250px;
    padding-top: 100px;
   
    
}

.design2{ 
    padding-left: 90px;
    padding-right: 20px;
    padding-top: 75px;
    background-color: rgb(245, 142, 177);
    box-shadow: 5px 5px 5px rgb(145, 61, 223);
    height:70vh;
    width: 65%;
    font-family: Georgia ;
    text-align: center;
    color: brown;
    
    
    
}
.card{
    
    width:80%;
    padding-bottom: 70px;
    box-shadow: 5px 5px 5px rgb(95, 92, 92);
    

}

.card-body{
   padding-bottom: 25px;
}

button{
    border-radius: 18px;
    background-color: brown
}

p, text input area{

color: grey;
}
input[type=text]{
    border-radius: 50px;
    max-width:400px;
}